/* Global Attributes & Variables */
* {
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
}

:root {
    --gradientStart: #3f84fb;
    --gradientMid: rgb(146, 159, 216);
    --gradientEnd: #1b0a33;
    --grey: rgb(168, 168, 168);
    --clear: #e7803b;
}

/* ---------- */
header {
    background: linear-gradient(90deg, var(--gradientStart), var(--gradientMid), var(--gradientEnd));
    padding: 5px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* h styling */
h1 {
    color: white;
    font-size: 2rem;
    font-weight: 600;
}
h2 {
    font-size: 1.8rem;
    font-weight: 600;
}
h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
}
h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

/* ---------- */
.row {
    margin-left: 0px;
    width: 100%;
}

/* Containers */
.searchBox {
    padding: 5px;
}
#previousSearchContainer {
    border-top: solid black 1px;
}
#currentWeatherBox {
    border: solid black 1px;
    padding: 5px;
}
#fiveDayContainer div {
    color: white;
    width: calc(20% - 10px);
    padding: 5px;
}

/* Button Styling */
.btn {
    background-color: var(--grey);
    width: 100%;
    margin: 5px 0;
}
.clearBtn {
    background-color: var(--clear);
    margin-top: 15px;
}
#searchBtn {
    background-color: var(--gradientStart);
    color: white;
    margin: 15px 0;
}

/* ---------- */
.icon {
    width: 50px;
}

/* UV Index Colors */
.uvColor {
    border-radius: 5px;
    padding: 0 10px;
}
.uvLow {
    background-color: #3ea72d;
}
.uvMod {
    background-color: #fff300;
}
.uvHigh {
    background-color: #f18b00;
}
.uvVHigh {
    background-color: #e53210;
}
.uvExt {
    background-color: #b567a4;
}

/* Temperature Colors */
.tempFreeze {
    background-color: rgb(13, 25, 95);
}
.tempCold {
    background-color: rgb(16, 80, 133);
}
.tempCool {
    background-color: rgb(31, 137, 144);
}
.tempMid {
    background-color: rgb(98, 153, 35);
}
.tempWarm {
    background-color: rgb(143, 141, 13);
}
.tempHot {
    background-color: rgb(192, 115, 27);
}
.tempExt {
    background-color: rgb(165, 36, 19);
}